<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "proyecto/styles.css" %}">
    <title>Familia</title>
</head>
<body>
    <h1>Mi familia</h1>   
    <h3>Esta es mi familia</h3> 
    <table>
        <thead>    
            <td>Nombre</td>
            <td>Nacimiento</td>
            <td>Edad</td>
            <td>Trabajo</td>
        </thead> 
        {% for persona in Familiar %}
        <tr>
            <td>{{persona.Nombre}} </td>
            <td>{{persona.Nacimiento}}</td>
            <td>{{persona.Edad}}</td>
            <td>{{persona.Trabajo}}</td>
        </tr>
        {% endfor %}
        
    </table>
 

</body>
</html>